[submodule "submodules/angle"]
	path = submodules/angle
	url = https://chromium.googlesource.com/angle/angle
[submodule "submodules/depot_tools"]
	path = submodules/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "submodules/pkg-config"]
	path = submodules/pkg-config
	url = https://anongit.freedesktop.org/git/pkg-config.git
