
[submodule "engine/submodules/angle"]
	path = engine/submodules/angle
	url = https://chromium.googlesource.com/angle/angle
[submodule "engine/submodules/depot_tools"]
	path = engine/submodules/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
