[submodule "deps/angle"]
	path = deps/angle
	url = https://chromium.googlesource.com/angle/angle
[submodule "deps/depot_tools"]
	path = deps/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "deps/pkg-config"]
	path = deps/pkg-config
	url = https://anongit.freedesktop.org/git/pkg-config.git
